<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_products_list), session[:return_to] || admin_products_url, :icon => 'arrow-left' %></li>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>
<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Stock Management' } %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @product } %>

<div id="variant_search_form">
  <%= render 'variant_search_form' %>
</div>

<% if @variants.present? %>
  <%= render 'add_stock_form' %>

  <%= paginate @variants %>

  <%= render :partial => 'spree/admin/shared/stock_management', :locals => { :variants => @variants } %>

  <%= paginate @variants %>
<% end %>
